.map-container {
  width: 100%;
  height: 400px;
  position: relative;
  margin-bottom: 20px;
}

.athletics-map {
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Fix leaflet icon issues */
.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}
