.map-container {
  width: 100%;
  height: 500px;
  position: relative;
  margin-bottom: 15px;
}

.athletics-map {
  width: 100%;
  height: 100%;
  z-index: 1;
}

@media (max-width: 768px) {
  .map-container {
    height: 250px;
  }
}

/* Fix leaflet icon issues */
.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}

/* Highlighted marker styling */
.highlighted-marker {
  background: transparent;
  border: none;
}
